<a href="https://colab.research.google.com/github/thiagoxgomes/DNC-GIT/blob/main/C%C3%B3pia_de_aula4_dinamica_CiaAerea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#Importação de bibliotecas e dados
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

##Carregar dataframe
df = pd.read_csv('/nyflights.csv')

In [2]:
##Verificar informações dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      336776 non-null  int64
 1   year            336776 non-null  int64
 2   month           336776 non-null  int64
 3   day             336776 non-null  int64
 4   dep_time        328521 non-null  float64
 5   sched_dep_time  336776 non-null  int64
 6   dep_delay       328521 non-null  float64
 7   arr_time        328063 non-null  float64
 8   sched_arr_time  336776 non-null  int64
 9   arr_delay       327346 non-null  float64
 10  carrier         336776 non-null  object
 11  flight          336776 non-null  int64
 12  tailnum         334264 non-null  object
 13  origin          336776 non-null  object
 14  dest            336776 non-null  object
 15  air_time        327346 non-null  float64
 16  distance        336776 non-null  int64
 17  hour            336776 non-null  int64
 18  minute          336776 non-null  int64
 19  time_hour       336776 non-null  object
dtypes: float64(5), int64(10), object(5)
memory usage: 51.4+ MB

In [36]:
##Limpar Dataset
#df.isnull()
df_new = df.dropna(how='any')

In [ ]:
##Converter coluna datetime
#df_new["dep_time"]= pd.to_datetime(df_new["dep_time"], format='%H:%M')
#df_new["sched_dep_time"]= pd.to_datetime(df_new["sched_dep_time"], format='%H:%M')
#df_new["sched_arr_time"]= pd.to_datetime(df_new["sched_arr_time"])
#df_new["arr_time"]= pd.to_datetime(df_new["arr_time"])

In [37]:
df_new

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336765,336766,2013,9,30,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,2013-09-30 22:00:00
336766,336767,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00
336767,336768,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00
336768,336769,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00
336769,336770,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00

ETAPA 1 - 

Qual o comportamento médio e a variância dos dados dos voos que atrasam 
mais de duas horas? 
a. Filtrar a tabela com os registrados que atrasam mais de duas horas.
b. Filtrar a coluna 'dep_delay'  e aplicar as funções describe() e .T 
i. Com o describe() algumas medidas de tendência central, mas não temos 
a variância.
c. Adicionar uma coluna para a amplitude: df['range'] = df['max'] - df['min']
d. Adicionar uma coluna para variância: dfT['var'] = pow(dfT_1['std'], 2)

In [85]:
##questão A:
df_delay = df_new[df_new["dep_delay"]>=120]

In [86]:
##questão C:
df_delay_describe = df_delay["dep_delay"].describe()

In [87]:
##questão C:
df_delay_describe['range'] = df_delay_describe['max'] - df_delay_describe['min'] 
df_delay_describe

count    9760.000000
mean      185.820799
std        74.482167
min       120.000000
25%       138.000000
50%       165.000000
75%       209.000000
max      1301.000000
range    1181.000000
Name: dep_delay, dtype: float64

In [88]:
##questão C:
df_delay_describe['var'] = pow(df_delay_describe['std'], 2)
df_delay_describe

count    9760.000000
mean      185.820799
std        74.482167
min       120.000000
25%       138.000000
50%       165.000000
75%       209.000000
max      1301.000000
range    1181.000000
var      5547.593153
Name: dep_delay, dtype: float64

ETAPA 2

Quais destinos geraram voos com o maior número de atrasos na partida? 
(5 piores | Considerar 5 minutos um atraso aceitável)

a. Filtrar a tabela com os registrados que atrasam mais de 5 minutos.

b. Filtrar a coluna de destino, fazer uma contagem dos valores e apresentar 
os 5 últimos

c. Filtrar a coluna de destino, fazer uma contagem dos valores e apresent
ar 
os 5 primeiros

In [ ]:
##questão A:
df_delay_min = df_new[df_new["dep_delay"]>5]
df_delay_min

In [108]:
##questão B:
df_group_dest = df_delay_min.groupby(["dest"]).count().reset_index()
#df_group_dest
df_dest_sort = df_group_dest.sort_values(by=['dep_delay'], ascending=False)
df_dest_sort.tail(5)

,dest,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,air_time,distance,hour,minute,time_hour
85,SBN,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
61,MTJ,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
34,EYW,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
75,PSP,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
3,ANC,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [110]:
##questão C:
df_dest_sort.head(5)

,dest,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,air_time,distance,hour,minute,time_hour
67,ORD,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929,4929
4,ATL,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653,4653
49,LAX,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423,4423
52,MCO,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078,4078
88,SFO,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044,4044

ETAPA 3

Quais são as velocidades médias dos voos nos 5 destinos que mais ocorrem 
atrasos.

a. Filtrar a tabela com os registrados que mais atrasam

b. Calcular a velocidade média

    i. Criar uma coluna com os valores dessas velocidades médias usando as colunas de ['distance'] e ['air_time']

    ii. Agrupar a tabela com os piores destinos

In [ ]:
##questão A:
df_dest_list = df_dest_sort.head(5).dest
df_topdelay_dest = df_new.query('dest in @df_dest_list')
df_topdelay_dest

In [ ]:
##questão B:
df_topdelay_dest['velocidade_media'] = df_topdelay_dest['distance'] / (df_topdelay_dest['air_time']/60)
df_topdelay_dest

In [145]:
##questão B:
df_dst_group = df_topdelay_dest.groupby(["dest"]).mean().reset_index()
df_dst_group

,dest,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,air_time,distance,hour,minute,velocidade_media
0,ATL,168004.451862,2013.0,6.559720,15.725723,1292.720615,1284.179783,12.425135,1512.860367,1525.949397,11.300113,1862.834056,112.930451,757.138326,12.614183,22.761478,405.182104
1,LAX,172559.319543,2013.0,6.731748,15.771684,1365.727443,1361.942156,9.351242,1510.866717,1563.151254,0.547111,565.995071,328.121178,2468.622426,13.389679,22.974229,452.799331
2,MCO,166949.301067,2013.0,6.483067,15.839121,1336.942006,1328.835541,11.265340,1493.367366,1551.035799,5.454643,1069.644806,134.773466,943.113553,13.028854,25.950168,422.385530
3,ORD,172496.269528,2013.0,6.631897,15.621936,1309.474949,1296.189424,13.432814,1449.525655,1453.522275,5.876615,1187.541531,115.588132,729.017445,12.747374,21.452010,381.130263
4,SFO,172937.728612,2013.0,6.863129,15.756016,1310.732407,1296.265923,12.738708,1555.820011,1607.382297,2.672892,650.962119,345.683140,2577.927124,12.708267,25.439232,448.541794

In [151]:
#sns.countplot(data=df_dst_group,hue='dest',y='velocidade_media')
px.histogram(df_dst_group,y='dest',x='velocidade_media')